@charset "UTF-8";

*{
  margin:0; padding:0;
}

#wrap{
	max-width:1200px;
	margin:0 auto;
}

#title01{
	max-width:1200px;
	text-align:center;
	font-weight:bold;
	font-size:2.2em;
	color:black;
}
#title02{
	max-width:1200px;
	text-align:center;
	font-size:1.2em;
	color:gray;
}

#title03{
	max-width:1200px;
	margin-left:50px;
	font-weight:bold;
	font-size:1.1em;
}

.section input[id*="slide"]{
	display:none;
}
.section .slidewrap{
	font-size:0px;
	max-width:1200px;
	margin:0 auto;
	overflow:hidden;
}

.section .slidelist{
	white-space:nowrap;
	font-size:0;
}

.section .slidelist li{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	transition:all .4s;
}

.section .slidelist li a .slidebutton{
	display:block;
	position:relative;
}

.section .slidelist li a img{
	width:100%;
	max-height:500px;
}

.section .slidelist label{
	position:absolute;
	z-index:10;
	top:50%;
	transform:translateY(-50%);
	padding:30px;
	cursor:pointer;
}

.section .slidelist .left{
	left:30px;
	background:url('../../images/travel/left.png') center center / 100% no-repeat;
}

.section .slidelist .right{
	right:30px;
	background:url('../../images/travel/right.png') center center / 100% no-repeat;
}

.section [id="slide01"]:checked ~ .slidewrap .slidelist li{transform:translateX(0%);}
.section [id="slide02"]:checked ~ .slidewrap .slidelist li{transform:translateX(-100%);}
.section [id="slide03"]:checked ~ .slidewrap .slidelist li{transform:translateX(-200%);}


.info{
	max-width:1200px;
	margin-left:130px;
	margin-bottom:15px;
	font-size:24px;
	line-height:30px;
}
.underline{
	max-width:1000px;
	margin:0 auto;
	border-bottom:4px solid black;
}
.cont{
	margin-top:20px;
	margin-bottom:20px;
	padding:0 10%;
	font-size:20px;
	line-height:30px;
}

.detail_info{
	max-width:550px;
	margin:0 auto;
	padding:0 15%;
}

.detail_info ul li strong{
	width:100px;
	margin-right:10px;
}

.detail_info ul li span{
	color:gray;
	margin-left:10px;
	float:none;
}

.detail_info ul li span a{
	cursor:pointer;
}

.detail_info ul li span a:link{
	color:gray;
	text-decoration:none;
}

.detail_info ul li span a:hover{
	color:red;
}

#book{
  font-weight:bold;
  margin-left:10px;
  background:#fff;
  color:#2828CD;
  border:none;
  border-radius:3px;
  position:relative;
  height:25px;
  font-size:1.1em;
  cursor:pointer;
  transition:800ms ease all;
}
#book:hover{
  background:#2828CD;
  color:#fff;

